server:
  port: 8000
spring:
  application:
    name: Gateway

  security:
    oauth2:
      client:
        registration:
          azure:
            client-id: a02aa40a-f271-4ad7-8439-18b3cba4af94
            client-secret: CnS8Q~2WbfXrqPcWMJNwfZZaNcjRieYvkZY44bqm
            scope: openid,profile,email

            redirect-uri: http://localhost:4200/callback
            provider: azure


        provider:
          azure:
            issuer-uri: https://login.microsoftonline.com/0ae51e19-07c8-4e4b-bb6d-648ee58410f4/v2.0
            authorization-uri: https://login.microsoftonline.com/0ae51e19-07c8-4e4b-bb6d-648ee58410f4/oauth2/v2.0/authorize
            token-uri: https://login.microsoftonline.com/0ae51e19-07c8-4e4b-bb6d-648ee58410f4/oauth2/v2.0/token
            jwk-set-uri: https://login.microsoftonline.com/0ae51e19-07c8-4e4b-bb6d-648ee58410f4/discovery/v2.0/keys
  cloud:
    gateway:

      routes:
        - id: resource
          uri: http://localhost:9000
          predicates:
            - Path=/resource
          filters:
            - name: TokenRelay

            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET, POST, PUT, DELETE, OPTIONS
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type


        - id: permission
          uri: http://localhost:9000
          predicates:
            - Path=/api/v1/permissions
          filters:
            - name: TokenRelay

            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET, POST, PUT, DELETE, OPTIONS
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type


        - id: loggedUser
          uri: http://localhost:9000
          predicates:
            - Path=/api/v1/user/loggedUser
          filters:
            - name: TokenRelay

            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET, POST, PUT, DELETE, OPTIONS
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type

        - id: filtered_permission
          uri: http://localhost:9000
          predicates:
            - Path=/api/v1/permissions/filterRole
          filters:
            - name: TokenRelay

            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET, POST, PUT, DELETE, OPTIONS
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type

        - id: resource
          uri: ws://localhost:9000/connect
          predicates:
            - Path=/connect
          filters:
            - name: TokenRelay

            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET, POST, PUT, DELETE, OPTIONS
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type



        - id: resourceequip
          uri: http://localhost:9000
          predicates:
            - Path=/resource/equip
          filters:
            - name: TokenRelay

            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type


        - id: credentials_token
          uri: http://localhost:9000
          predicates:
            - Path=/credentials
          filters:


            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET, POST, PUT, DELETE, OPTIONS


        - id: resource_equip
          uri: http://localhost:9000
          predicates:
            - Path=/resource/equip
          filters:
            - name: TokenRelay

            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type

        - id: register
          uri: http://localhost:9000
          predicates:
            - Path=/api/v1/register
          filters:
            - name: TokenRelay

            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET, POST, PUT, DELETE, OPTIONS
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type

        - id: register_environment
          uri: http://localhost:9000
          predicates:
            - Path=/api/v1/register/environment
          filters:
            - name: TokenRelay

            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200, http://localhost:8000
            - AddResponseHeader=Access-Control-Allow-Methods, GET, POST, PUT, DELETE, OPTIONS
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type

        - id: trackingHistory
          uri: http://localhost:9000
          predicates:
            - Path=/api/v1/trackingHistory

          filters:
            - name: TokenRelay
            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET, POST, DELETE
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type

        - id: getAllTrackingFilter
          uri: http://localhost:9000/api/v1/trackingHistory/filter
          predicates:
            - Path=/api/v1/trackingHistory/filter
          filters:
            - name: TokenRelay
            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type

        - id: getWrongLocationEquipment
          uri: http://localhost:9000/api/v1/trackingHistory/wronglocations
          predicates:
            - Path=/api/v1/trackingHistory/wronglocations
          filters:
            - name: TokenRelay
            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type

        - id: notification
          uri: http://localhost:9000
          predicates:
            - Path=/api/v1/notification/**
          filters:
            - name: TokenRelay

            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type

        - id: excel
          uri: http://localhost:9000
          predicates:
            - Path=/api/v1/excel/**
          filters:
            - name: TokenRelay

            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET, OPTIONS
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type

        - id: excel-report
          uri: http://localhost:9000
          predicates:
            - Path=/api/v1/excel/**
          filters:
            - name: TokenRelay

            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET, POST, DELETE, OPTIONS
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type

        - id: create-equipment
          uri: http://localhost:9000
          predicates:
            - Path=/api/v1/equipment
          filters:
            - name: TokenRelay
            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET, POST, DELETE, OPTIONS
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type

        - id: upload-image
          uri: http://localhost:9000
          predicates:
            - Path=/api/v1/equipment/image
          filters:
            - name: TokenRelay
            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, POST
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type

        - id: get-equipment-filter
          uri: http://localhost:9000
          predicates:
            - Path=/api/v1/equipment/filter
          filters:
            - name: TokenRelay
            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET, POST, DELETE, OPTIONS
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type

        - id: get-equipment-search
          uri: http://localhost:9000
          predicates:
            - Path=/api/v1/equipment/search
          filters:
            - name: TokenRelay
            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET, POST, DELETE, OPTIONS
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type

        - id: get-equipment-by-id
          uri: http://localhost:9000
          predicates:
            - Path=/api/v1/equipment/{id_equipment}
          filters:
            - name: TokenRelay
            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET, POST, DELETE, OPTIONS
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type

        - id: inactivate-equipment
          uri: http://localhost:9000
          predicates:
            - Path=/api/v1/equipment/inactivate/{id_equipment}
          filters:
            - name: TokenRelay
            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET, POST, DELETE, OPTIONS
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type

        - id: activate-equipment
          uri: http://localhost:9000
          predicates:
            - Path=/api/v1/equipment/active/{id_equipment}
          filters:
            - name: TokenRelay
            - AddResponseHeader=Access-Control-Allow-Origin, http://localhost:4200
            - AddResponseHeader=Access-Control-Allow-Methods, GET, POST, DELETE, OPTIONS
            - AddResponseHeader=Access-Control-Allow-Headers, Authorization, Content-Type



logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.cloud.gateway.filter.factory.TokenRelayGatewayFilterFactory: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security.oauth2: DEBUG





